{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h5 {
    color: #25275E;
}
    </style>
    <title>Receitas</title>
</head>

<body>

    <div class="container">

        <div class="row row-cols-1 row-cols-md-2 g-4">

            <div class="col-md-6    ">
                <div class="card">
                   
                        
                            <img src="//3faf59dad641ad465215bb0fdc33425d.cdn.bubble.io/f1700444684014x161650277598011100/banana.jpg" width="400" height="200" class="card-img-top" alt="...">
                       
                      
                         <div class="card-body">
                            <h5 class="card-title">Panqueca de banana</h5>
                            <p class="card-text" style="font-size: 14px;">
                                Quem disse que a batata doce é só para o Outono? Aumente a nutrição do seu café da manhã com estas deliciosas panquecas de batata-doce, cobertas com banana e uma calda... Você pensaria que está comendo sobremesa no café da manhã!
                            </p>
                        </div>
                   

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="//3faf59dad641ad465215bb0fdc33425d.cdn.bubble.io/f1700444684014x161650277598011100/banana.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Panqueca de banana</h5>
                        
                    </div>
                </div>
            </div>  

        </div>

    </div>

    <br>

    <div class="container receitas">

        <h5 class="fw-bold">Receitas Saudaveis</h5>
        <h5>Algumas receitas para auxiliar na dieta</h5>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="//3faf59dad641ad465215bb0fdc33425d.cdn.bubble.io/f1700446761356x697666120086397200/P1180804.webp" width="" height="" class="card-img-top" alt="...">
                    <div class="card-body row">
                        <h5 class="card-title" style="margin-right: 40px;">Bolinho de Chuva</h5>
                        <p class="card-text"><img width="20" src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39091/preview.png"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="//3faf59dad641ad465215bb0fdc33425d.cdn.bubble.io/f1700446915841x773648448876054200/DSC_1522.webp" width="" height="" class="card-img-top" alt="...">
                    <div class="card-body row">
                        <h5 class="card-title" style="margin-right: 40px;">Mousse de Chia</h5>
                        <p class="card-text"><img width="20" src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39091/preview.png"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="//3faf59dad641ad465215bb0fdc33425d.cdn.bubble.io/f1700447091059x166087518523485570/sanduiche_natural_de_frango.jpg" width="" height="200" class="card-img-top" alt="...">
                    <div class="card-body row">
                        <h5 class="card-title" style="margin-right: 40px;">Sanduiche Lite</h5>
                        <p class="card-text"><img width="20" src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39091/preview.png"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="//3faf59dad641ad465215bb0fdc33425d.cdn.bubble.io/f1700449935430x914485903262920200/15163126835a61186beddfd_1516312683_3x2_md.jpg" width="" height="200" class="card-img-top" alt="...">
                    <div class="card-body row">
                        <h5 class="card-title" style="margin-right: 40px;">Sorvete de Morango</h5>
                        <p class="card-text"><img width="20" src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39091/preview.png"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}