{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h5 {
    color: #25275E;
}
    </style>
    <title>Receitas</title>
</head>

<body>

    <div class="container">

        <div class="row row-cols-1 row-cols-md-2 g-4">

            <div class="col">
                <div class="card">
                    <img src="iStock-496589843.jpg" width="" height="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="iStock-496589843.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>  

        </div>

    </div>

    <br>

    <div class="container receitas">

        <h5 class="fw-bold">Receitas Pré-treino</h5>
        <h5>Algumas receitas para auxiliar como pré-treino</h5>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="iStock-496589843.jpg" width="" height="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="iStock-496589843.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="iStock-496589843.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="iStock-496589843.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">#</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}