
{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .landing {
      font-family: Arial, sans-serif;
      text-align: center;
    }
    .container {
      width: 80%;
      margin: 0 auto;
    }
    .header {
      font-weight: bold;
      margin: 20px 0;
    }
    .benefits {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .team{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .team {
      align-items: center;
    }
    .benefit {
      border: 1px solid #ffffff;
      border-radius: 10px;
      padding: 10px;
      flex-basis: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .member, .benefit {
      border: 1px solid #ffffff;
      border-radius: 10px;
      padding: 10px;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .member img, .benefit img {
      width: 100%;
      border-radius: 0%;
      margin-bottom: 10px;
    }
    .name {
      margin-top: 5px;
    }

    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    background: #000000;
    }

/*Main*/

main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 1rem;
    
    
}

.main-text img{
    width: 13rem;
    margin-bottom: 3vh;
    
    
}
.main-text h3{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.main-text p{
    margin-bottom: 1.5rem;
}
.main-text h3,p{
    color: white;
}

.main-text .btn{
    padding: 10px 25px;
    background: #000000;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.5s;
    border-color: #006EFF;
}
.main-text .btn:hover{
    opacity: .85;
}

.main-text .content span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px #888;
    transition: all 0.5s;
}
.main-text .content span:hover{
    opacity: .80;
}

.main-img{
    transition: all 1s ease;
    z-index: 100;
}
.main-img img{
    width: 500px;
    transform: rotate(0deg);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fbff00;
    clip-path: circle(100px at right 500px);
}

  </style>
<body class="landing">
  <main>
    <section>
        <!--<div class="circle"></div>-->
        <div class="main-text">
            <h1 style="color: #fff;">Não perca a chance de</h1>
            <h3><span style="color: #006EFF; font-family: 'Philosopher', sans-serif;">INVESTIR</span> em <span style="color: #006EFF; font-family: 'Philosopher', sans-serif;">VOCÊ</span></h3>
            <p>A musculação não precisa ser um bixo de 7 cabeças.<br> Criamos o Deus Grego para garantir que a saude e bem estar cheguem até vocẽ. <br>Estamos ansiosos para treinar com você!</p>
            <a href="#" class="btn">Assine agora</a><a href="#secao-destino" style="color: #006EFF; padding-left: 20px;;">Saiba mais  ▶</a>
            
        </div>
        <div class="main-img" style="padding-left: 10%;">
            <img src="https://c.wallhere.com/photos/65/c2/exercising_Body_Art_Bodybuilder_bodybuilding_Men_in_Black_women_fitness_model_black_background-1932265.jpg!d" alt="Imagem do Python" id="python">
        </div>
    </section>
</main>

<hr style="color: white;" width="1">

<div class="container">
    <div class="header justify-content-center align-items-center" style="color: #006EFF; text-align: center;">NOSSA EQUIPE</div>
    <div class="team justify-content-center align-items-center" style="color: #fff; width: 600px; height: 500px; margin-left: 220px;">
      <!-- Repita esta divisão para cada membro da equipe. -->
      <div class="member justify-content-center align-items-center">
        <img src="{% static 'img/equipe.jpg' %}" alt="Placeholder Image">
        <div class="name">ADS</div>
        <div>3º Periodo</div>
      </div>
    </div>
    <div class="header" style="text-align: center; color: #006EFF;">VANTAGENS</div>
    <div class="benefits">
      <div class="benefit">
        <img src="https://images.ctfassets.net/ea2tosc1qg3k/BR-6KK4CX6XjHML12CPCtRQXR/28d76a25c03417b90861a75e1b68868a/4-45_mob.jpg?w=600&q=50" width="500" height="300" alt="Personalizados Image">
        <div style=" color: #1b7eff;">Treine em casa</div>
      </div>
      <div class="benefit">
        <img src="https://grandeatleta.com.br/wp-content/uploads/2020/03/exercicios-circuito-em-casa-treino.jpg" width="500" height="300" alt="Comfort of Your Home Image">
        <div style="color: #006EFF;">Personal Trainner Online</div>
      </div>
      <div class="benefit">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1xnabQa7L6CrOj0hk4YRe8xMw10J0tn1EcQ&usqp=CAU" width="500" height="300" alt="Anytime You Want Image">
        <div style="color: #006EFF;">Na hora que você quiser</div>
      </div>
    </div>
  </div>
  </body>

{% endblock %}